.grid-container {
    background:coral;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width:100%;
    max-height:70%;
  }
  img {
    display: block;
    width: 100%;
    border-radius: .25em;
    transition: 250ms 50ms;
    pointer-events: auto;
  }
  .children2 {
    display: center;
    max-width: max-content;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: large;
    background-color:orange;
   
   }
   .box {
    width: 10vmin;
    height: 10vmin;
    background:cornsilk;
    padding: rem;
    margin:  1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    flex-direction: row;
  }
  @media all and (max-width: 300px) {
.box{
    color: rgb(48, 99, 194);
}
  
