body {
    background-color: lightgoldenrodyellow
  }
  body p {
    margin-left: 15%;
    margin-right: 15%
  }
  body ul {
    margin-left: 15%;
    margin-right: 15%
  }
  body li {
    margin-left: 15%;
    margin-right: 15%
  }
  h1 {
    color: green;
    font-family: fantasy;
    text-align: center;
    font-size: 119px;
    margin-left: 15%;
    margin-right: 15%
  }

  h2 {
    font-family: sans-serif;
    margin-left: 15%;
    margin-right: 15%
  }
  h2 {
    text-align: center;
  }
  .box {
    margin-left: 50%;
    margin-right: 50%
  }
  .grid-container {
    background:coral;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width:100%;
    max-height:70%;
  }
  img {
    display: block;
    width: 100%;
    border-radius: .25em;
    transition: 250ms 50ms;
    pointer-events: auto;
  }